{% extends 'base.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
    <div class="container-fluid d-flex flex-column vh-100 p-2">
        <div class="row flex-grow-1">
            <div class="d-flex align-items-stretch">
                {% include 'components/sidebar.html.twig' %}
            
                <div class="col-md-6 border-start border-end border-white d-flex flex-column p-2 overflow-auto">
                    <h1>Messages</h1>

                    <ul>
                        {% for message in messages %}
                            <li>
                                <strong>{{ message.utilisateur.username }}</strong>:
                                {{ message.contenu }}
                            </li>
                        {% endfor %}
                    </ul>

                    <form method="post" action="{{ path('message_send') }}">
                        <input type="hidden" name="conversation_id" value="{{ conversation.id }}">
                        <textarea name="contenu" required></textarea>
                        <button type="submit">Send</button>
                    </form>
                </div>
                {% include 'components/right-sidebar.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
