<div
	class="col-md-3 d-flex flex-column p-2 ms-2 bg-light">
	<!-- Trends Section -->
	<div class="border rounded bg-white shadow-sm p-3 flex-grow-1">
		<h5 class="fw-bold">Tendances pour vous</h5>
		<ul class="list-unstyled">
			<li class="mb-3">
				<div>
					<span class="text-muted">#</span>
					<a href="#" class="text-decoration-none text-dark">TrendingTopic1</a>
				</div>
			</li>
			<li class="mb-3">
				<div>
					<span class="text-muted">#</span>
					<a href="#" class="text-decoration-none text-dark">TrendingTopic2</a>
				</div>
			</li>
			<li class="mb-3">
				<div>
					<span class="text-muted">#</span>
					<a href="#" class="text-decoration-none text-dark">TrendingTopic3</a>
				</div>
			</li>
			<li class="mb-3">
				<div>
					<span class="text-muted">#</span>
					<a href="#" class="text-decoration-none text-dark">TrendingTopic4</a>
				</div>
			</li>
		</ul>
	</div>
</div>

