{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid d-flex flex-column vh-100 p-2">
		<div class="row flex-grow-1">
			<div class="d-flex align-items-stretch">
				{% include 'components/sidebar.html.twig' %}

				<div class="col-md-6 border-start border-end border-white d-flex flex-column p-2 overflow-auto">
					<h1>Nouvelle Conversation</h1>

					<form method="post" action="{{ path('conversation_create') }}">
						<label for="user_id">Choisissez un destinataire :</label>
						<select id="user_id" name="user_id">
							{% for user in users %}
								<option value="{{ user.id }}">{{ user.username }}</option>
							{% endfor %}
						</select>
						<button type="submit">Créer la conversation</button>
					</form>
				</div>
				{% include 'components/right-sidebar.html.twig' %}
			</div>
		</div>
	</div>

{% endblock %}


