{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid d-flex flex-column vh-100 p-2">
		<div class="row flex-grow-1">
				{% include 'components/sidebar.html.twig' %}
				<div class="col-md-6 offset-md-3 d-flex flex-column p-3 overflow-auto main-content">
					<h1 class="mb-4">Nouvelle Conversation</h1>
					<form method="post" action="{{ path('conversation_create') }}" class="mb-3">
						<div class="mb-3">
							<label for="user_id" class="form-label">Choisissez un destinataire :</label>
							<select id="user_id" name="user_id" class="form-select">
								{% for user in users %}
									<option value="{{ user.id }}">{{ user.username }}</option>
								{% endfor %}
							</select>
						</div>
						<button type="submit" class="btn btn-primary">Créer la conversation</button>
					</form>
				</div>
			
		</div>
	</div>
{% endblock %}

